@use "../../styles/Variables" as v;

.teams-activity {
  background-color: v.$color-white;
  min-width: 20rem;
  height: max-content;

  .activity-header {
    border-bottom: 1px solid v.$color-dark-grey;
    padding: 1.5rem 2rem;
    font-size: 1.125rem;
  }

  .activity-feed {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1.5rem 2rem;
  }
}
