@use "../../styles/Variables" as v;

$sidebar-icon-width: 2rem;

.sidebar-icon {
  &.active {
    background-color: v.$color-light-blue;

    .icon {
      opacity: 1;
    }
  }

  &:last-of-type {
    margin-top: auto;
  }

  .icon {
    fill: v.$color-white;
    width: $sidebar-icon-width;
    height: $sidebar-icon-width;
    opacity: 0.3;
  }
}
