.search-box {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;

  .input-search {
    padding: 0.5rem 0.25rem;
    width: 13rem;
    border: none;

    &:focus {
      outline: none;
    }
  }
}
