@use "../../styles/Variables" as v;

.header-title {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;

  svg {
    width: 2rem;
    height: 2rem;
    fill: v.$color-dark-grey-blue;
  }

  h1 {
    font-size: 1.75rem;
    text-transform: capitalize;
  }
}
