@use "../../styles/Variables" as v;

.tabs {
  display: flex;
  column-gap: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
  height: 100%;

  .tab {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    cursor: pointer;
    height: 100%;
    color: v.$color-black;

    &.active {
      color: v.$color-blue;
      border-bottom: 2px solid v.$color-blue;
    }
  }
}
