@use "../../styles/Variables" as v;

.teams {
  display: flex;
  flex-direction: column;

  .teams-header {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    border-bottom: v.$color-light-grey solid 1px;

    .row-1,
    .row-2 {
      display: flex;
      justify-content: space-between;
    }

    .row-1 {
      display: flex;
      align-items: center;
      height: 6rem;
    }

    .row-2 {
      height: 3rem;
    }
  }

  .teams-body {
    display: flex;
    background-color: v.$color-dark-grey;
    padding: 2rem;
    column-gap: 2rem;
    min-height: calc(100vh - 14rem);
  }
}
