$sidebar-bg: #042235;
$sidebar-icon-hover-bg: #2995da;
$sidebar-width: 80px;
$sidebar-icon-width: 32px;

.sidebar {
  display: flex;
  flex-direction: column;
  width: $sidebar-width;
  height: 100vh;
  background-color: $sidebar-bg;

  .sidebar-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $sidebar-width;
    height: $sidebar-width;
    cursor: pointer;

    &.active {
      background-color: $sidebar-icon-hover-bg;

      .icon {
        opacity: 1;
      }
    }

    &:last-of-type {
      margin-top: auto;
    }

    .logo,
    .icon {
      width: $sidebar-icon-width;
      height: $sidebar-icon-width;
    }

    .icon {
      opacity: 0.3;
    }
  }
}
