$color-black: #000000;
$color-eerie-black: #1a1919;
$color-white: #ffffff;
$color-light-grey: #e2e2e2;
$color-dark-grey: #f1f4f8;
$color-dark-grey-blue: #a4a6a8;
$color-grey-brick: #565656;
$color-grey-dark: #444444;
$color-dark-blue: #042235;
$color-light-blue: #2995da;
$color-blue: #0083e3;
$color-light-green: #40d2bf;
